<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.seanet.seanetinfo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".configandcontroler.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginandregistration.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginandregistration.RegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".logbook.Logbook"
            android:label="@string/title_activity_logbook"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:theme="@style/AppTheme.NoActionBar" > -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.seanet.seanetinfo.main.MainActivity" />
        </activity>
        <activity
            android:name=".harbors.Harbors"
            android:label="@string/title_activity_marinas"
            android:parentActivityName=".main.MainActivity">

            <!-- android:theme="@style/AppTheme.NoActionBar" > -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.seanet.seanetinfo.main.MainActivity" />
        </activity>
        <activity
            android:name=".logbook.LogbooksManage"
            android:label="@string/title_activity_logbooks"
            android:parentActivityName=".logbook.Logbook"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.seanet.seanetinfo.logbook.Logbook" />
        </activity>
        <activity
            android:name=".logbook.NewLogbook"
            android:label="@string/title_activity_new_logbook"
            android:parentActivityName=".logbook.Logbook"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.seanet.seanetinfo.logbook.Logbook" />
        </activity>
        <activity
            android:name=".logbook.NewOwner"
            android:label="@string/title_activity_new_owner"
            android:parentActivityName=".logbook.Logbook"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.seanet.seanetinfo.logbook.Logbook" />
        </activity>
        <activity android:name=".logbook.TestOwners" />
        <activity
            android:name=".logbook.ModifyLogbook"
            android:label="@string/title_activity_modify_logbook"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".logbook.CrewsManage"
            android:label="@string/title_activity_crews_manage"
            android:parentActivityName=".logbook.Logbook"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.seanet.seanetinfo.logbook.Logbook" />
        </activity>
    </application>

</manifest>
